<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
</head>
<body>
    <form action="/got_data" method="post">
        <input type="text" placeholder="Name" name="Naming">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="pass">
        <button > Submit </button>
    </form>
</body>
</html>

brew services start mongodb-community@8.0
